## Mini Project 03- NLP Emotions: Text Features

Dataset:
- A. Tripathi, "Emotion Classification NLP", Kaggle.com, 2021. [Online]. Available: https://www.kaggle.com/datasets/anjaneyatripathi/emotion-classification-nlp. [Accessed: 16- Jul- 2022].

Sources:
- WASSA-2017 Shared Task on Emotion Intensity. Saif M. Mohammad and Felipe Bravo-Marquez. In Proceedings of the EMNLP 2017 Workshop on Computational Approaches to Subjectivity, Sentiment, and Social Media (WASSA), September 2017, Copenhagen, Denmark.
BibTex

Emotion Labels:
- joy: 1
- sadness: 2
- anger: 3
- fear: 4

### Import Libraries

In [1]:
## Import Libraries
import numpy as np
import pandas as pd
import re as regex
import spacy
from pathlib import Path
import time


import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import PrecisionRecallDisplay
from sklearn.metrics import plot_confusion_matrix
from simple_colors import *

import string
from collections import Counter
import re as regex
from sklearn import metrics
from sklearn.metrics import classification_report

from sklearn.decomposition import LatentDirichletAllocation
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

import neattext.functions as nfx
import nltk

import warnings
warnings.filterwarnings('ignore')

import import_ipynb
import nlpEmotion_functions
from nlpEmotion_functions import show_summary_report, calcRocPrecisionRecall, testCalcRocPrecisionRecall, calcRocAuc
from sklearn.decomposition import PCA
from sklearn.decomposition import LatentDirichletAllocation

%matplotlib inline

importing Jupyter notebook from nlpEmotion_functions.ipynb

### Load Data

In [2]:
dfNlpFeatures = pd.read_csv("nlpTrainFeatures.csv")
dfNlpFeatures.head()

,Unnamed: 0,text,label,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
0,0,Just got back from seeing @GaryDelaney in Burs...,1,get see burslem amaze face hurt laugh hilarious,110,17,6.470588,2,5,5,0,0,2,5
1,1,Oh dear an evening of absolute hilarity I don'...,1,dear even absolute hilarity don think laugh lo...,94,20,4.700000,2,2,2,0,2,0,2
2,2,Been waiting all week for this game ❤️❤️❤️ #ch...,1,wait week game red heart red heart red heart c...,60,11,5.454545,1,0,0,0,0,1,1
3,3,"@gardiner_love : Thank you so much, Gloria! Yo...",1,thank gloria sweet thoughtful day joyful love ...,129,24,5.375000,3,6,6,0,6,1,3
4,4,I feel so blessed to work with the family that...,1,feel bless work family nanny red heart love am...,114,22,5.181818,2,1,1,0,5,2,6

In [3]:
dfNlpFeatures.drop(['Unnamed: 0'], axis= 1, inplace= True)

In [4]:
dfNlpFeatures.head()

,text,label,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
0,Just got back from seeing @GaryDelaney in Burs...,1,get see burslem amaze face hurt laugh hilarious,110,17,6.470588,2,5,5,0,0,2,5
1,Oh dear an evening of absolute hilarity I don'...,1,dear even absolute hilarity don think laugh lo...,94,20,4.700000,2,2,2,0,2,0,2
2,Been waiting all week for this game ❤️❤️❤️ #ch...,1,wait week game red heart red heart red heart c...,60,11,5.454545,1,0,0,0,0,1,1
3,"@gardiner_love : Thank you so much, Gloria! Yo...",1,thank gloria sweet thoughtful day joyful love ...,129,24,5.375000,3,6,6,0,6,1,3
4,I feel so blessed to work with the family that...,1,feel bless work family nanny red heart love am...,114,22,5.181818,2,1,1,0,5,2,6

In [5]:
X= dfNlpFeatures.iloc[:, 2:]
X[0:10]

,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
0,get see burslem amaze face hurt laugh hilarious,110,17,6.470588,2,5,5,0,0,2,5
1,dear even absolute hilarity don think laugh lo...,94,20,4.700000,2,2,2,0,2,0,2
2,wait week game red heart red heart red heart c...,60,11,5.454545,1,0,0,0,0,1,1
3,thank gloria sweet thoughtful day joyful love ...,129,24,5.375000,3,6,6,0,6,1,3
4,feel bless work family nanny red heart love am...,114,22,5.181818,2,1,1,0,5,2,6
5,today reach subscriber goodday thankful,62,10,6.200000,1,0,0,1,1,1,1
6,good morning love happy day fall let awesome a...,128,17,7.529412,5,0,0,0,1,0,3
7,bridgetjonesbaby best thing see age funny miss...,102,16,6.375000,2,1,1,0,2,3,3
8,get see burslem amaze face hurt laugh,100,16,6.250000,1,5,5,0,0,2,5
9,think holiday cheerful meet thenicebot,95,17,5.588235,1,2,2,0,5,0,3

In [6]:
X.shape

(7102, 11)

In [7]:
y= dfNlpFeatures[dfNlpFeatures.columns[1]]
y[0:10]

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: label, dtype: int64

In [8]:
y.shape

(7102,)

In [9]:
# split the dataset
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2, random_state= 42)

In [10]:
X_train.head()

,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
181,big change pray think deserve positivity optimism,87,17,5.117647,2,0,0,0,6,0,3
4793,majority client family partner day job life wr...,121,19,6.368421,5,0,0,0,2,1,3
794,don know worst purpose,63,12,5.250000,1,0,0,0,2,2,1
3593,amazon prime like help girl lol,73,15,4.866667,1,1,1,0,2,2,3
1536,say teufel reassign organization year wish soo...,139,21,6.619048,3,0,0,1,2,1,4

In [11]:
X_train.shape

(5681, 11)

In [12]:
X_trainVect= X_train['short']
X_testVect= X_test['short']

In [13]:
X_trainVect.shape

(5681,)

In [14]:
# create a count vectorizer object
count_vect = CountVectorizer(analyzer= 'word',
                             token_pattern = r'\w{1,}')

# Learn a vocabulary dictionary of all tokens in the raw documents
# count_vect.fit(X2)

# Transform documents to document-term matrix.
X_train_count = count_vect.fit_transform(X_trainVect.astype('str'))
X_test_count = count_vect.transform(X_testVect.astype('str'))

In [15]:
X_train_count.shape

(5681, 8917)

In [16]:
X_test_count.shape

(1421, 8917)

In [17]:
X_train_count

<5681x8917 sparse matrix of type '<class 'numpy.int64'>'
	with 43027 stored elements in Compressed Sparse Row format>

In [18]:
dfTrainCount= pd.DataFrame(X_train_count.toarray(), columns= count_vect.get_feature_names_out())
dfTestCount= pd.DataFrame(X_test_count.toarray(), columns= count_vect.get_feature_names_out())

In [19]:
dfTrainCount.head()

,aaa,aaaaarrrrgghhh,aaahhhh,aameen,aaron,aarp,aateam,abandonment,abby,abc,...,zionist,zipper,zombie,zone,zoolander,zumba,деньги,الخفجي,الوطني,اليوم
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
dfTrainCount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Columns: 8917 entries, aaa to اليوم
dtypes: int64(8917)
memory usage: 386.5 MB

In [21]:
%%time
# Apply dimensionality reduction to Xs using transform
pca02= PCA(n_components= 800)
# Fit Xs
pcaModel02_Xtrain= pca02.fit_transform(dfTrainCount)
pcaModel02_Xtest= pca02.transform(dfTestCount)
exp_var_pca02= pca02.explained_variance_ratio_
cum_sum_eigenvalues02 = np.cumsum(exp_var_pca02)
pca02.singular_values_

CPU times: total: 1min 13s
Wall time: 12.1 s

array([73.93969208, 50.27948845, 29.97062224, 23.67411587, 22.19651456,
       20.43183976, 19.96653746, 19.77802988, 18.38179949, 18.02188342,
       17.40766825, 16.42026227, 16.25200554, 16.04915613, 15.78202582,
       15.57249489, 15.43370861, 15.40186909, 15.02722682, 14.88185134,
       14.75278026, 14.47865445, 14.15210691, 13.89613836, 13.26276417,
       12.99838689, 12.96867321, 12.8253393 , 12.69445881, 12.67862822,
       12.50372389, 12.38490866, 12.34889783, 12.24245511, 12.167295  ,
       12.10895177, 11.98215536, 11.8319117 , 11.80161411, 11.67773698,
       11.66206046, 11.60116401, 11.58196816, 11.42895628, 11.37976078,
       11.32887857, 11.2843908 , 11.16654744, 11.08567587, 11.00792749,
       10.9681238 , 10.87534683, 10.77738636, 10.72658831, 10.65828387,
       10.5453552 , 10.49091679, 10.44817946, 10.39705812, 10.37210137,
       10.29913924, 10.27320707, 10.22775753, 10.21997041, 10.12041349,
       10.08153376, 10.01834928,  9.98715787,  9.96987759,  9.9312297 ,
        9.89972867,  9.85749736,  9.79253072,  9.77114313,  9.68478821,
        9.64703451,  9.61097799,  9.58544926,  9.5310763 ,  9.4916468 ,
        9.47510332,  9.42139839,  9.37748871,  9.36143606,  9.29880676,
        9.25477521,  9.23417284,  9.20885479,  9.16910955,  9.12381315,
        9.08998856,  9.06849982,  9.05168628,  8.98560208,  8.96340538,
        8.95645263,  8.90884959,  8.89712736,  8.86475586,  8.84285869,
        8.82739822,  8.80232866,  8.78158567,  8.76317715,  8.73245291,
        8.71673932,  8.65463432,  8.65181523,  8.62661299,  8.60554144,
        8.58767389,  8.56432773,  8.54526841,  8.51468347,  8.4854561 ,
        8.47915743,  8.46691507,  8.40771896,  8.40631096,  8.34763452,
        8.33793253,  8.32474667,  8.30033098,  8.28042797,  8.23281542,
        8.21689506,  8.18119551,  8.17174487,  8.15128547,  8.14300096,
        8.11520982,  8.11295445,  8.07018976,  8.05247677,  8.04159239,
        8.01331849,  7.99261385,  7.96816155,  7.9372162 ,  7.92289244,
        7.91911366,  7.88941983,  7.88581357,  7.8597638 ,  7.83864026,
        7.80230559,  7.80003852,  7.79331909,  7.77259993,  7.75923342,
        7.70654923,  7.69126337,  7.66364694,  7.64942576,  7.63739328,
        7.63407149,  7.61013814,  7.58765977,  7.56561137,  7.54713069,
        7.52977662,  7.50634463,  7.48338147,  7.44658716,  7.44308809,
        7.43995321,  7.40319558,  7.39304851,  7.384978  ,  7.36595395,
        7.35944063,  7.31784416,  7.30287282,  7.28769997,  7.27717502,
        7.26770598,  7.255024  ,  7.23909362,  7.21767762,  7.21202068,
        7.19075417,  7.17460845,  7.1629878 ,  7.1290378 ,  7.10919008,
        7.10502372,  7.0939567 ,  7.08369984,  7.05820847,  7.04404402,
        7.03073356,  7.01578803,  7.00016268,  6.99445845,  6.97961956,
        6.95349026,  6.94684968,  6.93232233,  6.91762291,  6.90106703,
        6.88740089,  6.88053865,  6.86521096,  6.85049823,  6.84003005,
        6.82177826,  6.81778118,  6.8094443 ,  6.78770774,  6.77011381,
        6.76717082,  6.75980647,  6.73669126,  6.73398972,  6.73120105,
        6.71727652,  6.71190731,  6.69512806,  6.6749071 ,  6.67203999,
        6.65586504,  6.6427766 ,  6.61457292,  6.60595218,  6.59344958,
        6.58501117,  6.57679376,  6.56142441,  6.55794093,  6.54806578,
        6.53729664,  6.52778055,  6.52403615,  6.50324714,  6.49168424,
        6.48815297,  6.47777333,  6.4637169 ,  6.44799144,  6.43637166,
        6.43302324,  6.42291419,  6.41857473,  6.39748894,  6.39167891,
        6.38623605,  6.35916967,  6.35146924,  6.33396396,  6.33098243,
        6.31671237,  6.30568335,  6.2988351 ,  6.28321375,  6.28041657,
        6.27350117,  6.26018414,  6.25324785,  6.24615071,  6.24245253,
        6.22965126,  6.21461152,  6.19835227,  6.19483934,  6.1744576 ,
        6.1716045 ,  6.15442057,  6.14175472,  6.14132179,  6.13397398,
        6.112989  ,  6.10592062,  6.09799743,  6.09320373,  6.08324828,
        6.06399264,  6.06165915,  6.05207522,  6.03962852,  6.0295553 ,
        6.01947651,  6.01433926,  6.00614937,  6.00307072,  5.98743578,
        5.97406539,  5.96205552,  5.96079539,  5.95514993,  5.94592899,
        5.9375475 ,  5.92426686,  5.9197805 ,  5.9093446 ,  5.90486212,
        5.89688885,  5.89077516,  5.88428839,  5.86664859,  5.86375679,
        5.85330348,  5.84913693,  5.83870874,  5.83438769,  5.82660744,
        5.80552221,  5.80268624,  5.79044293,  5.78312263,  5.77876039,
        5.77401735,  5.75681422,  5.7523884 ,  5.73825071,  5.72383753,
        5.71623151,  5.70963969,  5.69957174,  5.69686636,  5.68391597,
        5.68366488,  5.6745227 ,  5.66069925,  5.65111687,  5.64481149,
        5.64016225,  5.63450772,  5.62527534,  5.61986333,  5.607404  ,
        5.6048121 ,  5.59590889,  5.5901392 ,  5.58709954,  5.57477514,
        5.57343882,  5.56460264,  5.54523338,  5.54267269,  5.53578976,
        5.53137617,  5.52205831,  5.51870031,  5.50842216,  5.50190504,
        5.49886297,  5.48796601,  5.48348761,  5.47301143,  5.46953644,
        5.46730583,  5.46188641,  5.45278795,  5.44691869,  5.44119974,
        5.43370367,  5.42679408,  5.42222938,  5.41619708,  5.41094456,
        5.40764597,  5.39935988,  5.39441697,  5.38789041,  5.38076053,
        5.37739079,  5.36456621,  5.36016424,  5.35802949,  5.35126924,
        5.34280934,  5.33682279,  5.32481433,  5.32352944,  5.31728906,
        5.30593661,  5.30038671,  5.29260068,  5.28852099,  5.28814388,
        5.27944481,  5.2772977 ,  5.27262867,  5.26721875,  5.2607148 ,
        5.25686258,  5.24430205,  5.23956054,  5.2354479 ,  5.22702515,
        5.22378181,  5.21697016,  5.21412051,  5.21294679,  5.20869772,
        5.2031686 ,  5.19553903,  5.18632939,  5.17867226,  5.17237269,
        5.16875573,  5.16809975,  5.16248453,  5.15497166,  5.15101513,
        5.14186924,  5.1413424 ,  5.12878281,  5.12325559,  5.11768262,
        5.1164883 ,  5.11458561,  5.10722111,  5.10253085,  5.09383013,
        5.09236535,  5.08380326,  5.07700075,  5.07481604,  5.07092652,
        5.06333288,  5.05983221,  5.04720375,  5.04018865,  5.0328361 ,
        5.02658817,  5.02310236,  5.01655387,  5.0122208 ,  5.0075048 ,
        5.0037037 ,  4.99747693,  4.99052618,  4.98437813,  4.98162682,
        4.9726157 ,  4.96680553,  4.96243984,  4.95964101,  4.95369415,
        4.94964779,  4.94583095,  4.93905293,  4.93385402,  4.93103298,
        4.92094906,  4.91981419,  4.91370281,  4.91194726,  4.90932806,
        4.90152844,  4.89793359,  4.89383011,  4.88983246,  4.88568844,
        4.87985157,  4.87356738,  4.86626318,  4.85837181,  4.85744383,
        4.85049472,  4.84667973,  4.84225036,  4.8394174 ,  4.83490771,
        4.83123486,  4.82370591,  4.814963  ,  4.81201564,  4.80977385,
        4.80818332,  4.797796  ,  4.79572726,  4.78930275,  4.78619382,
        4.77907038,  4.77175308,  4.76930156,  4.76473269,  4.75926833,
        4.75364073,  4.75180731,  4.74653239,  4.74595848,  4.74231703,
        4.7393914 ,  4.73278353,  4.72396842,  4.71988686,  4.71923427,
        4.7102782 ,  4.70771552,  4.70378058,  4.70309689,  4.69552821,
        4.6859003 ,  4.68510085,  4.67988198,  4.67818395,  4.67229978,
        4.66985651,  4.66706837,  4.65612666,  4.65015341,  4.64462018,
        4.64303546,  4.63986017,  4.63084146,  4.62831473,  4.62210954,
        4.61781039,  4.61245513,  4.61095454,  4.60632665,  4.60084553,
        4.59626086,  4.5903998 ,  4.58585683,  4.58074118,  4.57506428,
        4.57287246,  4.5686567 ,  4.56589626,  4.56216419,  4.55311235,
        4.5483456 ,  4.54729859,  4.53978949,  4.53630302,  4.5317721 ,
        4.53041511,  4.52498646,  4.52388393,  4.51693004,  4.51446987,
        4.50865612,  4.50548801,  4.49823187,  4.49290034,  4.49224664,
        4.48528225,  4.47949812,  4.47673883,  4.46940556,  4.46296727,
        4.46277697,  4.45980425,  4.455698  ,  4.45074992,  4.44816934,
        4.44229181,  4.43992533,  4.43437355,  4.42683584,  4.42587769,
        4.41989633,  4.41746669,  4.41564004,  4.41204085,  4.41029359,
        4.40483306,  4.40068667,  4.40045393,  4.390342  ,  4.3871636 ,
        4.38337231,  4.37469603,  4.36912796,  4.36728835,  4.36615843,
        4.3635936 ,  4.36040216,  4.35470401,  4.35289442,  4.34662731,
        4.33894125,  4.33636391,  4.33271046,  4.32850199,  4.3251233 ,
        4.32366411,  4.31717847,  4.31321173,  4.3115579 ,  4.30584687,
        4.30039151,  4.29821701,  4.29212975,  4.28469464,  4.2825997 ,
        4.27826921,  4.2721986 ,  4.27097033,  4.26382172,  4.26332272,
        4.26171265,  4.25948303,  4.25269564,  4.24730472,  4.24325713,
        4.23972186,  4.2358918 ,  4.23330833,  4.22853619,  4.22082274,
        4.21858738,  4.21585947,  4.21320295,  4.20540188,  4.20245361,
        4.19950784,  4.19597246,  4.19153098,  4.19066105,  4.18992008,
        4.1845886 ,  4.18434705,  4.17596484,  4.17184011,  4.16485606,
        4.16259961,  4.15979317,  4.15813306,  4.1501031 ,  4.14745871,
        4.14581916,  4.14179657,  4.13949341,  4.13578218,  4.1303628 ,
        4.12659104,  4.12316423,  4.11633801,  4.11211371,  4.1083363 ,
        4.10529602,  4.10501906,  4.10062327,  4.09518158,  4.09318716,
        4.08790575,  4.08305718,  4.08087278,  4.07648335,  4.06722298,
        4.06507275,  4.06350558,  4.05883761,  4.05826515,  4.05378952,
        4.04870545,  4.04542469,  4.04009433,  4.03581301,  4.03046202,
        4.02603969,  4.02321629,  4.01770407,  4.01665544,  4.01331941,
        4.01234291,  4.01019555,  4.00054266,  3.99878732,  3.99564733,
        3.9911324 ,  3.98810243,  3.98265519,  3.98041428,  3.97674016,
        3.97555418,  3.96819868,  3.96413261,  3.96113895,  3.95977439,
        3.95429409,  3.95060631,  3.94688575,  3.94445492,  3.94166378,
        3.93998332,  3.93651807,  3.93398489,  3.93166808,  3.92302788,
        3.92217062,  3.91768203,  3.9117895 ,  3.90834575,  3.90291682,
        3.9010728 ,  3.89750331,  3.89264856,  3.88871126,  3.88442012,
        3.88298304,  3.87974348,  3.87475484,  3.86881229,  3.86568952,
        3.86329718,  3.85906078,  3.85488386,  3.85464435,  3.85053319,
        3.8488832 ,  3.84668038,  3.84288904,  3.83923232,  3.8311582 ,
        3.8287295 ,  3.82437797,  3.8211387 ,  3.81599447,  3.81524016,
        3.8114687 ,  3.80773665,  3.80288732,  3.80148985,  3.79677197,
        3.79514618,  3.79297818,  3.78857802,  3.78210698,  3.77625573,
        3.77089366,  3.76920777,  3.76531297,  3.76033346,  3.75684127,
        3.75326903,  3.74968328,  3.74466572,  3.74186002,  3.73676221,
        3.73213813,  3.73148341,  3.72769977,  3.72432045,  3.71959601,
        3.71324526,  3.70794845,  3.70712392,  3.70276294,  3.70031301,
        3.69556351,  3.6928468 ,  3.68756289,  3.68529535,  3.68300308,
        3.67323609,  3.67049526,  3.66602509,  3.66288604,  3.65756287,
        3.65539031,  3.6534527 ,  3.64560197,  3.64074697,  3.63790852,
        3.63689553,  3.63067871,  3.63015243,  3.6221536 ,  3.61832119,
        3.6157753 ,  3.61269392,  3.60651357,  3.60032109,  3.59899799,
        3.59292352,  3.58550237,  3.58335189,  3.58062674,  3.57486078,
        3.56983013,  3.56734796,  3.55841997,  3.55587089,  3.55211362,
        3.54930614,  3.54747938,  3.54191564,  3.53810379,  3.530425  ,
        3.52679401,  3.52032976,  3.51161252,  3.50735076,  3.5043309 ,
        3.49845001,  3.49033315,  3.48980111,  3.48366263,  3.47883958,
        3.4725162 ,  3.46371801,  3.46203841,  3.45313522,  3.44738159])

In [22]:
np.sum(exp_var_pca02)

0.7679501716973767

In [23]:
pca_dfTrain= pd.DataFrame(pcaModel02_Xtrain)
pca_dfTest= pd.DataFrame(pcaModel02_Xtest)
pca_dfTrain.head()

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
0,-0.009341,-0.161966,0.042974,-0.005137,-0.043912,-0.046542,0.008988,-0.036498,0.050643,-0.054951,...,0.064426,-0.057251,0.016699,0.007242,-0.047114,-0.030034,-0.010006,0.046275,-0.017626,-0.056490
1,-0.023999,-0.163796,-0.022175,0.049369,-0.070448,0.102078,-0.011344,0.055404,-0.335255,0.085782,...,0.113133,0.073304,0.022938,0.019587,-0.050848,-0.037764,0.039547,-0.044137,-0.014833,-0.027505
2,-0.023089,-0.175600,0.053482,0.017146,-0.002203,-0.716857,0.812790,-0.337689,0.027861,-0.057376,...,0.077665,-0.026029,-0.016435,0.004488,-0.022869,-0.002134,0.010364,-0.017779,0.033141,-0.003392
3,-0.023156,-0.165316,0.039625,-0.023168,0.037558,-0.572211,-0.408871,0.558861,0.125535,-0.044002,...,0.016875,0.000689,0.004664,-0.012232,0.011492,-0.010696,-0.003352,0.008569,0.027213,0.002218
4,-0.023021,-0.179607,0.038585,-0.004142,-0.041601,0.048619,-0.121212,0.032010,-0.002069,-0.020522,...,0.021699,-0.105922,0.042257,-0.059504,0.002873,0.041124,-0.005887,-0.004106,-0.016797,-0.029534

In [24]:
%%time
# train a LDA Model
lda_model = LatentDirichletAllocation(n_components = 20, learning_method = 'online', max_iter = 20)

Xtrain_topics = lda_model.fit_transform(X_train_count)
Xtest_topics = lda_model.transform(X_test_count)
topic_word = lda_model.components_ 
vocab = count_vect.get_feature_names_out()

CPU times: total: 18.1 s
Wall time: 18.1 s

In [25]:
Xtrain_topics.shape

(5681, 20)

In [26]:
Xtest_topics.shape

(1421, 20)

In [27]:
dfTrainTopic= pd.DataFrame(Xtrain_topics)
dfTestTopic= pd.DataFrame(Xtest_topics)

In [28]:
dfTrainTopic.shape

(5681, 20)

In [29]:
dfTestTopic.shape

(1421, 20)

In [30]:
X_train.reset_index(inplace= True)
X_test.reset_index(inplace= True)

In [31]:
X_train.head()

,index,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
0,181,big change pray think deserve positivity optimism,87,17,5.117647,2,0,0,0,6,0,3
1,4793,majority client family partner day job life wr...,121,19,6.368421,5,0,0,0,2,1,3
2,794,don know worst purpose,63,12,5.250000,1,0,0,0,2,2,1
3,3593,amazon prime like help girl lol,73,15,4.866667,1,1,1,0,2,2,3
4,1536,say teufel reassign organization year wish soo...,139,21,6.619048,3,0,0,1,2,1,4

In [32]:
X_test.head()

,index,short,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
0,6095,imagine celtic burst net wae attempt nutt old ...,88,17,5.176471,6,0,0,0,1,1,3
1,4447,need cheer,35,6,5.833333,0,0,0,0,1,0,2
2,4677,horrible person gag people quote,75,15,5.000000,1,1,1,0,4,0,3
3,4832,hand deck post msm trump start lead fla,122,24,5.083333,0,0,0,0,0,6,2
4,3796,gahh queue minute sport dept cancel queue,108,20,5.400000,0,3,3,1,0,4,2

In [33]:
X_train.drop(['index', 'short'], axis=1, inplace=True)
X_test.drop(['index', 'short'], axis=1, inplace=True)

In [34]:
pca_dfTrain.shape

(5681, 800)

In [35]:
pca_dfTest.shape

(1421, 800)

In [36]:
X_train.shape

(5681, 10)

In [37]:
X_test.shape

(1421, 10)

In [38]:
dfTrainCount.shape

(5681, 8917)

In [39]:
new_Xtrain= pd.concat([pca_dfTrain, dfTrainTopic, X_train], axis= 1)
new_Xtest= pd.concat([pca_dfTest, dfTestTopic, X_test], axis= 1)
# new_Xtrain = pd.merge(dfTrainCount, X_train, left_index=True, right_index=True)
topic_Xtrain= pd.concat([dfTrainTopic, X_train], axis= 1)
topic_Xtest= pd.concat([dfTestTopic, X_test], axis= 1)

In [40]:
new_Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Columns: 830 entries, 0 to verb_count
dtypes: float64(821), int64(9)
memory usage: 36.0 MB

In [41]:
new_Xtrain.shape

(5681, 830)

In [42]:
new_Xtest.shape

(1421, 830)

In [43]:
topic_Xtrain.shape

(5681, 30)

In [44]:
topic_Xtest.shape

(1421, 30)

In [45]:
new_Xtrain.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
1151,-0.022710,-0.174128,0.047597,-0.010820,-0.090968,0.043056,0.049947,-0.078646,-0.035753,-0.016584,...,59,12,4.916667,1,0,0,0,1,4,1
2955,-0.022883,-0.153794,0.055800,0.003248,-0.071164,0.081836,-0.056010,-0.007647,-0.011241,-0.023975,...,55,8,6.875000,1,1,1,0,2,0,2
1088,-0.023234,-0.167383,0.059215,-0.038829,0.077836,-0.573941,-0.424952,0.582582,0.104448,-0.054113,...,52,9,5.777778,0,2,2,0,3,0,2
1952,-0.022217,-0.171742,0.034522,0.001009,-0.058937,0.089791,-0.042548,-0.046148,-0.009970,-0.008333,...,132,19,6.947368,0,0,0,0,1,3,3
703,-0.023578,-0.170092,0.032002,-0.024018,-0.051153,0.051579,-0.064175,-0.013520,-0.052386,0.001611,...,118,20,5.900000,5,1,1,0,1,1,2

In [46]:
new_Xtest.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,char_count,word_count,word_density,adj_count,adv_count,noun_count,num_count,pron_count,propn_count,verb_count
381,-0.023471,-0.176481,0.044219,-0.004873,-0.060616,0.047007,-0.031070,-0.036961,0.019822,0.042344,...,139,22,6.318182,3,1,1,0,1,2,2
217,-0.023397,-0.176177,0.032350,0.039637,0.002085,-0.008300,-0.141123,0.029271,0.027653,0.013784,...,128,21,6.095238,1,0,0,0,2,4,6
780,-0.022555,-0.168478,0.043821,0.005467,-0.057119,0.092911,-0.061036,-0.025767,-0.017285,0.002917,...,81,19,4.263158,1,1,1,1,3,0,2
488,-0.022308,-0.169907,0.039725,-0.006996,-0.069634,0.096029,-0.055662,-0.027708,0.014701,0.004936,...,68,14,4.857143,0,0,0,1,3,0,1
60,-0.022035,-0.171530,0.034988,-0.007809,-0.073709,0.090639,-0.039380,-0.033065,-0.012470,-0.012993,...,10,2,5.000000,1,0,0,0,0,0,0

In [47]:
def train_model(classifier, feature_vector_train, label, feature_vector_valid):
    # fit the training dataset on the classifier
    classifier.fit(feature_vector_train, label)

    # predict the labels on validation dataset
    predictions = classifier.predict(feature_vector_valid)

    return accuracy_score(predictions, y_test)

In [48]:
%%time
# Naive Bayes on Count Vectors
accuracy1 = train_model(LinearSVC(), X_train_count, y_train, X_test_count)
print('NB, Count Vectors    : %.4f\n' % accuracy1)

NB, Count Vectors    : 0.8360

CPU times: total: 422 ms
Wall time: 422 ms

In [49]:
%%time
# Naive Bayes on Count Vectors
accuracy2 = train_model(LinearSVC(), new_Xtrain, y_train, new_Xtest)
print('NB, Count Vectors    : %.4f\n' % accuracy2)

NB, Count Vectors    : 0.8149

CPU times: total: 39.2 s
Wall time: 39.2 s

In [50]:
%%time
# Naive Bayes on Count Vectors
accuracy3 = train_model(LinearSVC(), topic_Xtrain, y_train, topic_Xtest)
print('NB, Count Vectors    : %.4f\n' % accuracy3)

NB, Count Vectors    : 0.3251

CPU times: total: 2.27 s
Wall time: 2.27 s

Implementing PCA, adding text features, and using topic words does not improve the accuracy of the model and the runtime is increased. Therefore, these methods will be discarded when comparing the models